<div class="container mt-5">
  <h4 class="mt-5 mb-5 text-center"><strong>本当に退会しますか？</strong></h4>

  <div class="text-center">
    <p>退会すると、会員登録情報や</p>
    <p>これまでの購入履歴が閲覧できなくなります。</p>
    <p>退会する場合は、「退会する」をクリックしてください。</p>
  </div>

  <div class="container justify-content-center d-flex mt-5">
    <div class="form-group d-inline">
      <%= link_to "退会しない", customers_my_page_path, class: "btn btn-sm btn-primary w-100" %>
    </div>
    <div class="form-group d-inline ml-5">
      <%= link_to "退会する", customers_withdraw_path(@customer), method: :patch, class: "btn btn-sm btn-danger w-100" %>
    </div>
  </div>
</div>
