<p>ようこそ、ながのCAKEへ!</p>
<p>このサイトでは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>

<h1>新着商品</h1>
<div>
  <% @items.each do |item| %>
      <tr>
        <td>
          <%= item.image_id %>
        </td>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= item.price.to_s(:delimited) %>
        </td>
      </tr>
    <% end %>
</div>

<div class="form-group">
  <%= link_to "全ての商品を見る", items_path %>
</div>